In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split from sklearn.metrics import accuracy_score from sklearn.ensemble import ExtraTreesClassifier from sklearn.ensemble import RandomForestClassifier from xgboost import XGBClassifier from vecstack import stacking

In [9]:
pred_lasso=pd.read_csv("pred_lasso")
pred_XGB=pd.read_csv("pred_XGB")
final_train=pd.read_csv("final_train")
final_test=pd.read_csv("final_test")

   Unnamed: 0              x
0        1461  114351.765770
1        1462  162204.760693
2        1463  179455.291292
3        1464  197564.707511
4        1465  205952.772715